<!doctype html>
<!--[if lte IE 8]><html class="msie no-js no-svg" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js no-svg" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title> HTML5 Framework </title>
<meta name="description" content="...">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="{{ asset('_front/assets/icons/Icon.png') }}" rel="apple-touch-icon">
<link href="{{ asset('_front/assets/icons/favicon.png') }}" type="image/png" rel="shortcut icon">

 {{ HTML::style('_front/assets/css/bootstrap.min.css') }}  
 {{ HTML::style('_front/assets/css/strap.css') }}  
 {{ HTML::style('_front/assets/css/core.css') }}  
 {{ HTML::style('_front/plugins/flexslider/flexslider.css') }}  
 {{ HTML::script('_front/assets/js/jquery-1.10.2.min.js') }}
 {{ HTML::script('_front/assets/js/modernizr.js') }}

<!--[if lt IE 9]>
  {{ HTML::script('_front/assets/js/respond.min.js') }}
<![endif]-->

 @section('headercodes')
 @show 
 
</head>
<body>
<div id="sidr" class="device">
	<ul class="unstyled">
		<li class="device-menu">&nbsp;</li>
		<li><a href="#">Home</a></li>		
		<li><a href="#">About us</a></li>
        <li><a href="#">Products</a></li>
		<li><a href="#">Contact Us</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">Return & Refund Policy</a></li>
		<li><a href="#">Shipping Policy</a></li>
        @if(isset($_SESSION['client_id']))
        	<li><a href="#">My Orders</a></li>
            <li><a href="#">Logout</a></li>
        @endif
	</ul>	
</div>
<div id="container">
<div class="wrap header">
		<header>
			<a href="#sidr" id="sider" class="responsive-menu device">&nbsp;</a>
			<!-- PRE-ACTIVATED FOR RESPONSIVE LAYOUT -->
			
			<div class="topnav">
				<a href="#" class="shopping-link"><i class="icon  icon-shopping-cart"></i> <span>Shopping Cart</span></a>
                
				<div class="social">
				@if(isset($_SESSION['client_id']))  
					<span>{{ HTML::link('#','My Orders') }}</span>
					<span>{{ HTML::link('#','Logout') }}</span>
				@else
                    <span style="margin-right:15px;"> <i class="icon icon-lock"></i> <a href="#"> Login</a></span>  
                    <span>Follow Us</span>
                    
                    {{ HTML::image_link('#','_front/assets/images/facebook_16.png','') }} 
                    {{ HTML::image_link('#','_front/assets/images/twitter_16.png','') }}                 
				@endif
				</div>
			</div>            
           <div id="hdr-logo"><a href=""></a></div>
           
           <div id="menunav">
           		<ul>
                	@foreach($menus as $menuss)                     	
	                	<li>{{ HTML::link($menuss->isCMS == 1 ? "/pages/".$menuss->slug : $menuss->filename,$menuss->name) }}</li>
                    @endforeach
                </ul>
                
                <ul class="nav nav-pills">
                  <li class="active"><a href="#">Home</a></li>
				  <li><a href="#">Profile</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                    </ul>
                  </li>
                </ul>

           </div>
            	
                    

            
            
		</header>
	</div>
    <div class="wrap content">
		<div class="slide-panel">
			<div id="slider" class="flexslider">
			  <ul class="slides">
              	@foreach($homeslide as $homeslides) 
				    <li>{{ HTML::image_link('/'.$homeslides->links,'uploads/home-sliders/_990_'.$homeslides->image,'') }}</li>
                @endforeach    
			    <!-- SLIDE PANEL -->
			  </ul>
			</div>
			
		</div>
    
  <article id="main" role="main">
    @yield('content') 
  </article>
</div>
<!-- #Wrap -->

<div class="wrap footer">
		<footer>
			<ul class="unstyled clearfix">
				<li class="pull-left">
					Copyright <?=date('Y');?>. Dogandrooster. All Rights Reserved
					<small>San Diego Website Design by Dog and Rooster</small>                     
				</li>
				<li class="pull-right">
					<div>
						{{ HTML::link('/pages/privacy-policy','Privacy Policy') }}
						{{ HTML::link('/pages/return-refund-policy','Return & Refund Policy') }}
                        {{ HTML::link('/pages/shipping-policy','Shipping Policy') }}
					</div>
					<div>
						 {{ HTML::image_link('#','_front/assets/images/icon-fb.png','') }}
                         {{ HTML::image_link('#','_front/assets/images/icon-tt.png','') }}
					</div>
				</li>
			</ul>
		</footer>
	</div>
</div>


<!-- INT/EXT JAVASCRIPT -->
{{ HTML::script('_front/plugins/sidr/sidr.min.js','') }}
{{ HTML::script('_front/assets/js/bootstrap.min.js','') }}
{{ HTML::script('_front/assets/js/plugins.js','') }}

{{ HTML::script('_front/plugins/flexslider/flexslider-min.js','') }}
{{ HTML::script('_front/plugins/flexslider/jquery.easing.js','') }}
{{ HTML::script('_front/plugins/flexslider/jquery.mousewheel.js','') }}

<script>
$(document).ready(function() {
	$('#side-menu').sidr();
	var sp = $('#carousel'),
			winWidth = $('.slide-panel').width() / 2 - sp.width() / 2;
	console.log(winWidth);
	sp.css('left', winWidth);
});
$(window).resize(function(){
	var sp = $('#carousel'),
			winWidth = $('.slide-panel').width() / 2 - sp.width() / 2;
	console.log(winWidth);
	sp.css('left', winWidth);	
});
$(window).load(function() {  
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
    asNavFor: '#slider'
  }); 
});
</script>
@section('extracodes')
@show 
</body>
</html>

