/* GLOBAL ELEMENTS */

* {
	-webkit-tap-highlight-color: transparent;
}

html, body {
	height: 100%;font-family: "Lato",Verdana,Geneva,sans-serif; font-weight: 300; font-size: 1em; 
}

body, #container {
	*zoom: 1; background-color: #ebebeb; color: #181818; 
}

body:before, body:after, #container:before, #container:after {
	display: table;
	content: "";
	line-height: 0;
}

body:after, #container:after {
	clear: both;
}

html *, body, body *{
	box-sizing:border-box;	
}
a, a:hover, a:focus{ outline: none; text-decoration: none; color: #181818; }
h1, h2, h3, h4, h5{ font-family: "Roboto Slab",Verdana,Geneva,sans-serif; color:#181818; }
.uk-h3, h3{ font-size: 21px; }
em {
    color: #000000;
}
/* START OF BODY STRUCTURE */
#header_image {
	width: 100%;
}
#container {
	position: relative;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	z-index: 1;
	min-width:280px;
}

.wrap {
	clear: both;
	float: left;
	position: relative;
	width: 100%;
	margin: 0;
}

.wrap.header {
	background: #000000; color: #d9d9d9;
	height:auto;
	border-top: solid 1px #464646;
	position:relative;
	z-index: 1; padding:1em;
}

.wrap.content {
	min-height: 1%;
	padding:1em 2em 2em;
}

.wrap.content img.img-responsive, .wrap.content .thumbnail > img, .wrap.content .thumbnail a > img, .wrap.content .carousel-inner > .item > img, .wrap.content .carousel-inner > .item > a > img{
	width:100%;
	height:auto;
}

.wrap.content img.captcha{
	max-width:104px;
}
.wrap.content img.mainimage{
	width:100%;
}

header, footer {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

/* STYLES FOR HEADER */
header {
	height: 100%;
}

/* NAVIGATION ELEMENTS */

.navbar {
	min-height: auto;
	float: left;
	z-index: 1;
	top: 3.5em;
}
.uk-nav{ background: transparent; border-radius: 0;    box-shadow: none;    border: none;}
.uk-nav > li{ border-radius: 0; border:none;}
.uk-nav > li a{ color:#d9d9d9; font-weight: 300; font-size: 14px; font-family: "Roboto Slab", Verdana,Geneva,sans-serif; text-shadow:none; border-radius: 0; border:none;    letter-spacing: 1px;    padding: 2em 1em; text-transform: uppercase; }
.uk-nav > li a i {    margin-left: 10px; }
html .uk-nav.uk-nav-offcanvas > li.uk-active > a, .uk-nav > li a:hover {background:#ebebeb; color:#292929; }
html .uk-nav.uk-nav-offcanvas > li > a:hover{background:#dbdbdb; color:#292929; }
.uk-nav > li a i.white, .white{ color: #ffffff; }
.uk-nav > li a:hover i.white, .uk-nav > li.uk-active  a i.white{ color: #292929; } .uk-nav > li a:hover i.white i.icon-small-append, .uk-nav > li.uk-active  a i.white i.icon-small-append{ color: #ffffff; }
.uk-dropdown .uk-nav{ margin: 0; }
.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
	background: #fff;
	border: none;
}
.uk-nav > li a:focus{ background-color: #292929; color: #ffffff; }
.uk-panel-box {
	background: none;
}
i.uk-icon-justify {    margin-right: 6px;}
.container-wrapper{ width: 100%; max-width: 1633px; margin-left:270px; float:left; position: relative;  }
.icon-stack-parent {
    font-size: 17px; position: relative; 
}.uk-nav > li a i.ion{ font-size: 17px; }
.uk-nav > li a i.custom-icon-image{  margin-left: 3px;}
.custom-icon-image{ background: url('../images/icons-sprite-white-with-hover.png') no-repeat 0 0; width: 27px; height: 26px; display: inline; padding:5px 14px; }
.custom-icon-image.custom-icon-bank-routing{ background-position: 0 0 ; }
a:hover .custom-icon-image.custom-icon-bank-routing{background-position: 0 -26px;  }
/*menu*/
.uk-toggle-offcanvas{ display: none; }
.top-right .uk-button-dropdown .uk-nav.uk-nav-dropdown {    margin: 11px 0;}
.top-right .uk-button-dropdown .uk-dropdown { background-color: #000000; }
.top-right .uk-button-dropdown .uk-nav.uk-nav-dropdown li a:hover, .header .top-right .uk-nav > li a.uk-active{background-color: #1a1a1a;  color: #ffffff; }
.uk-icon-button.uk-icon-button-small{    font-size: 12px;    height: 18px;    line-height: 16px;    width: 18px;}
.section-header .uk-icon-button.uk-icon-button-small {    position: relative;    top: -2px;   }
.uk-icon-bordered-dot{ border:1px dashed #fefefe; font-size: 12px; padding:1px;  width: 16px; }
.uk-nav.uk-nav-offcanvas > li > a:hover i.uk-icon-button{ color: #dbdbdb; background:#292929; }
.icon-small-append {
    position: absolute;
}
.white .icon-small-append {
    background-color: #2a2a2a;
    border-radius: 50%;
    font-size: 9px;
    padding: 1px;
}
.icon-right {
    right: -4px;
}
.icon-bottom {
    bottom: -4px;
}

#profile-panel .uk-width-large-4-10 .uk-width-large-1-2 {
    padding-left: 0;
}


@media screen and (min-width: 1025px){
body { margin-left: 270px;  width:auto !important;}
body.uk-offcanvas-page{ width:auto !important; }
.uk-offcanvas-dashboard.uk-active{  max-width: 270px;  }
.uk-offcanvas-dashboard.uk-active .uk-offcanvas-bar{ transform:none; -webkit-transform:none; }
body.desktop-style{ margin-left: 0 !important; width: auto !important; } /*fullwisth*/
.uk-toggle-offcanvas{ display: inline-block; } .uk-button-offcanvas{ display: none; }
} /*@media screen and (min-width: 1024px)*/



.uk-offcanvas-bar{ background: #292929; color:#d9d9d9;  }
.uk-offcanvas-dashboard li {
    float: left;
    width: 100%;
}
.uk-nav-parent-icon > .uk-icon-right > a::after {    content: "\f105";    float: right;    font-family: FontAwesome;    text-align: center;    width: 20px;}
.header  .uk-button {
    background: transparent none repeat scroll 0 0;
    color: #d9d9d9;
    font-size: 18px;
}
.header  .uk-button .uk-icon-angle-down {    font-size: 14px;    margin-left: 10px;    position: relative;    top: 0;}
.uk-dropdown{ background: #292929; }
.header .top-right .uk-nav > li a{ padding:1em 2em 1em 1em; }

/* STYLE FOR CONTENTS */
#container{ background: #ebebeb; }
.uk-breadcrumb > li a, .uk-breadcrumb > li span{ text-transform: uppercase; font-size: 12px; line-height: 12px;  }
a .icon-text {    font-size: 15px;}
a .icon-image{ margin-right: 3px; position: relative;  margin-bottom: 2px; }

.row .row{ margin:0;}
.row.pricing{
	width:300px;
}

.thumbnail {
	border: none;
}

#categories {
	width: 25%;
}

#container #main .row.top15 .col-xs-12.col-sm-12.col-md-12 {
	width: 75%;
	margin-left: 25%;
	min-height: 50em;
	border:1px solid red;
}
.uk-navbar-toggle.uk-visible-small.white {    color: #ffffff;    margin: auto 10px auto auto;}

/* general */
.container-large{ max-width:1400px; position: relative; margin: auto; float: none; width:100%; }
.uk-container{max-width: 1250px;}
.fnone{ float: none; } .full-width{ float: left; width: 100%; } .w100{ width: 100%; } .hauto{ height: auto; } .mauto{ margin:auto; }
.black{ color: #000000; } .grey{ color: #464646; } .white{ color: #ffffff; } .light-grey{ color: #bfbfbf; }
.lato{font-family: "Lato", Verdana,Geneva,sans-serif; }
.roboto{font-family: "Roboto Slab", Verdana,Geneva,sans-serif; }
.bold{ font-weight: 700; } .light{ font-weight: 300; } .normal{ font-weight: 400; } 
.bg-black-trans-style-1{ background-color: #1a1a1a; background-color: rgba(26, 26, 26, 0.7); color: #ffffff;  }
.opacity-0{ opacity: 0 !important; } .opacity-1{opacity: 1 !important;}
.text-uppercase{ text-transform: uppercase; }
.uk-button-trans{ border:1px solid #cfcec2; font-weight: 300; font-size: 13px;max-width: 210px;
    padding: 0.3em 2em; float: right; border-radius: 0;
    width: 100%;  background: transparent; color: #cfcec2; font-family: "Roboto Slab", Verdana,Geneva,sans-serif; }

/* content */
.uk-padding-v-small{ padding-top: 10px; padding-bottom: 10px; } .uk-padding-h-small{ padding-left: 10px; padding-right: 10px; }
.uk-padding-v-normal{ padding-top: 15px; padding-bottom: 15px; } .uk-padding-h-normal{ padding-left: 15px; padding-right: 15px; }
.uk-margin-v-small{ margin-top: 10px; margin-bottom: 10px; } .uk-margin-h-small{ margin-left: 10px; margin-right: 10px; }
.uk-margin-medium-top{margin-top: 1em; } .uk-margin-medium-bottom{margin-bottom: 1em; }  .uk-margin-medium-right{ margin-right: 10px; }
.uk-padding-small-right{ padding-right: 10px;  }
h2{ font-size: 36px; font-weight: 300;}
.encircled img{ border-radius: 120px; overflow: hidden;  }
.encircled img.dashbaord-profile{ margin-right:10px; }
.bg-grey{ background-color: #ebebeb; } .cursor-pointer{ cursor: pointer; }
.bg-red{ background-color: #f89e9e; } .yellow{ color: #ffcd76;} 
.text-underline{ text-decoration: underline; } .pos-rel { position: relative; }
.max-width-200{ max-width: 200px; }
/*sekect*/

.select-wrapper, .spinner {
    border-right: 1px solid #e4e4e4;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    margin-bottom: 10px;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 98%; margin-top: 4px;
}

.wrap form .text, .wrap form .select-wrapper, .spinner  {
    border: 1px solid #e4e4e4;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 11px 15px;
    position: relative; float: left; width: 100%;  height:41px;
}

.select-wrapper input, .select-wrapper select, .wrap form .text-wrapper input, .wrap form input.text, .spinner input {
    font-family: "Roboto Slab",Verdana,Geneva,sans-serif;
    font-size: 14px;    font-weight: 300;    max-width: 100%;  line-height: 30px; padding:0; margin:0;
    position: relative;    text-align: left;    vertical-align: top;
    width: 100%;
}
.wrap form input.text{  padding: 11px 15px; }
.select-wrapper select, .spinner input {
    background: transparent none repeat scroll 0 0;
    max-width: 124%;
    position: relative;
    text-align: left;
    width: 124%;
    z-index: 1; border:none; height: auto; min-width: 120px; 
}
.select-wrapper:after{ content: "\f107"; font-family:"FontAwesome"; position: absolute; top: 0; height: 100%; margin:auto; width: 17px; text-align: center; background-color: #e4e4e4; right:0; line-height:40px;  }

.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 20px;
    min-width: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    width: auto; vertical-align: top; border-left:none;  overflow: hidden;
     margin-left: 0; position: absolute; right: 0px; background: #ffffff;  top:0;  z-index: 1;
}
.append-button:hover{color:#ffcd76; }
.input-append.spinner {    border-right: 1px solid #e4e4e4;    overflow: hidden;  padding-top:4px; padding-bottom: 4px;  }
.input-append.uk-form-width-mini.spinner input {    text-align: left;}
.input-append.uk-form-width-mini.spinner {    width: 100px; margin-top: 0 !important;}
.input-append.select-wrapper .add-on {    z-index: 0;  right: -1px; }
.spinner .add-on a.spin-up,.spinner .add-on a.spin-down{overflow:hidden;display:block;text-align:center;position:absolute;color:#999; margin: auto; height: 50%;
    line-height: 55px; width:100%; }
.spinner .add-on a.spin-up .icon-sort-down,.spinner .add-on a.spin-down .icon-sort-down{position:relative;}

.spinner .add-on a.spin-up {
    bottom:auto;
    top: 0%;
}
.spinner .add-on a.spin-down {
    bottom: 0%; top:auto;
}
.spinner .add-on:hover, 
.input-append.select-wrapper:hover .add-on{ background-color: #222222; } 
.spinner .add-on:hover a.spin-up,.spinner .add-on:hover a.spin-down, .input-append.select-wrapper:hover .add-on a{color:#ffffff}
.spinner .add-on:hover a.spin-up:hover,.spinner .add-on:hover a.spin-down:hover{background-color: #888888; }
.spinner .add-on a.spin-up i,.spinner .add-on a.spin-down i{ position: relative; top:-12px;}
.spinner .add-on a.spin-down i { top: -25px; }

/* STYLE FOR PRODUCTS */
.full-layout{ float:left;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0;
    position: relative;
    width: 100%;
}
.smaller-padd-grid .uk-grid {
    margin-left: -6px;
}
.smaller-padd-grid .uk-grid > * { padding-left:6px; position: relative; overflow: hidden;}
section {    margin-top: 1.5em;}
section h2.section-header{ font-size: 18px; font-weight: 400; color: #ffffff; padding:10px; background-color: #000000; font-family: "Lato", Verdana,Geneva,sans-serif; margin: 0; }
section h2.section-header a:hover, section h2.section-header a:focus{ color: #ffffff; text-decoration: underline;  }
section .section-content{ background: #ffffff; padding:1em; color: #000000; } section .section-content p,section .section-content div { color: #000000; font-family: "Lato", Verdana,Geneva,sans-serif; }
section .uk-panel-box .uk-panel-title{ font-size: 35px; line-height: 35px; color: #000000;  font-family: "Lato", Verdana,Geneva,sans-serif; }
section .uk-panel-box .uk-panel-content{ font-size: 20px; }
.uk-button.uk-button-primary.uk-button-small.uk-button-toggle{ text-align: right; border-radius: 20px;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    max-width: 58px;
    padding: 0 5px;
    text-transform: uppercase;
    width: 100%; background:#555555;}

.uk-button.uk-button-primary.uk-button-small.uk-button-toggle .uk-icon-circle {    float: left; 
    font-size: 15px;
    position: relative;}
.uk-button.uk-button-primary.uk-button-small.uk-button-toggle.uk-active {    text-align: left; background:#000000; }
.uk-button.uk-button-primary.uk-button-small.uk-button-toggle.uk-active  .uk-icon-circle {    float: right;}
.uk-button.uk-button-primary.uk-button-small.uk-button-toggle.uk-active:hover{ color: #ffcd76; }
.uk-button-toggle .text-on{ display:none; }
.uk-active.uk-button-toggle .text-on, .uk-button-toggle .text-off{display:inline-block; }
.uk-active.uk-button-toggle .text-off{display:none; }
.uk-text-14{ font-size: 14px; }
.uk-td { position: relative;
    white-space: unset;
    word-wrap: break-word;
}
.uk-td .mobile-label{  background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    font-size: 10px;
    left: 25px;
    line-height: 12px;
    opacity: 0.8;
    padding: 1px 7px;
    position: absolute;
    text-transform: uppercase;
    top: -3px;     white-space: nowrap;
    word-wrap: unset; }

a[data-uk-toggle] > i.toggled.uk-icon-angle-up:before {    content: "\f107";}
.wrap form label.lbl{ float: left; width: 100%; font-size: 16px; margin-top: 12px;  margin-bottom:5px; }
.wrap form label.lbl.small.light {    color: #888888;    font-size: 12px;    margin: 0;}
.action-buttons{ margin-left:10px; } .uk-table  .uk-table-row .action-buttons{ display: none; }
.action-buttons a{ width: 20px; text-align: center; display:inline-block; margin-left: 3px; border-radius: 50px;  }
.action-buttons a:hover{ color:#ffffff; background-color: #2a2a2a; }
.uk-table  .uk-table-row:hover{ background-color: #f5f5f5; }
.uk-table  .uk-table-row:hover .action-buttons{ display: inline; }
.uk-table .uk-th{ font-weight: 600; }
section .section-content.uk-table{ margin-top: 0; }
.button-container{ position: absolute; right: 2em; top: 4.7em; }
.button-container-bottom{ top: auto; bottom: 2em; }
.uk-button-primary{ background: #000000; font-weight: 300;  } .uk-button-primary:hover{ background: #ffcd76; color:#000000; }
.wrap.content form{ padding-bottom: 3em; }
.line-height-select{ line-height: 60px; }
.profile-hide{ display: none;   width: 100%; }
.uk-nav-dropdown .profile-hide .profile-name {
    color: #cccccc;
    padding: 6px 15px;
    text-align: center;
    width: 100%;
}
/* modal*/
.uk-modal-dialog .uk-td .mobile-label{ left:0; position: relative; float: left;width: 100%; background: none; border:none; padding: 1px 0;  }
.uk-modal{ padding-left: 270px; }
.uk-modal-dialog{ border: 10px solid rgba(0, 0, 0, 0.1);    border-radius: 2px; max-width: 600px; }
.uk-modal-page body{ padding-right:0px !important; }
.checkbox-wrapper input[type="checkbox"] { height:auto; display:none; }
.checkbox-wrapper span.checkbox-style {    display:inline-block;    width:21px;    height:21px;    margin:0px 4px 6px 0;    vertical-align:middle;    background:url(../images/check-box.png) -21px top no-repeat;    cursor:pointer; }
.checkbox-wrapper input[type="checkbox"]:checked +  label > span.checkbox-style {    background-position:0px top;}
.add-a-photo {background-color: #f9f9f9;
    border: 10px solid #e4e4e4;box-shadow: 0 0 1px #ffffff inset;
    height: auto;
    max-width: 350px;
    position: relative;
    text-align: center;
    width: 100%;background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.add-a-photo i.cover {
    color: #e4e4e4;
    font-size: 18em;
    margin: auto;
}
.ajax-file-upload {
    height: auto !important;
    margin: auto;
    padding: 6px 20px;
    position: relative;
    text-transform: uppercase;
    bottom: 0em;
}
.add-a-photo.has-image i.cover{ opacity:0;-moz-opacity:0;-khtml-opacity:0; }
.add-a-photo.has-image .ajax-file-upload { background-color: rgba(255, 255, 255, 0.5); opacity: 0.1; -moz-opacity:0.1;-khtml-opacity:0.1; -webkit-transition:opacity .8s,-webkit-transform .8s;transition:opacity .8s,transform .8s }
.add-a-photo.has-image:hover .ajax-file-upload { opacity: 1; -moz-opacity:1;-khtml-opacity:1; }
/* STYLE FOR FOOTER */

/* footer */
.wrap.footer {
    background: #ebebeb none repeat scroll 0 0;
    padding: 1em 2em 2em;
    text-align: right;
}
/* YOU CAN ADD ADDITIONAL CSS HERE: */



/* END OF ADDING ADDITIONAL CSS HERE: */


/* media responsive */
@media screen and (min-width: 1919px) {
    .uk-modal-page body{ padding-right:17px !important; }
}

@media (max-width: 1250px) {
    #profile-panel .uk-width-large-4-10 .uk-width-large-1-2{
        width: 40%;
    }
}

@media screen and (max-width: 1199px) {
    .uk-table .uk-th {
        font-size: 10px; padding-top: 6px; padding-bottom: 6px; 
        line-height: 12px;
    }
    .uk-table .uk-table-row:hover .action-buttons{ position: absolute; margin-left: 0;  }
}

@media (max-width: 1100px) {
    #profile-panel .uk-width-large-4-10 .uk-width-large-1-2{
        width: 35%;
    }
}
@media screen and (max-width: 1024px) { .uk-modal{ padding-left: 0px; } }

@media screen and (min-width:959px) and (max-width:1599px), (max-width:767px){
	section .section-content {	    font-size: 13px;	}
}
@media screen and (max-width: 959px) {
	.section-content.uk-table .uk-vertical-divider.full-width {
	    border-bottom: 1px solid #e4e4e4;
	    margin: 1em auto 2em;
	    padding-top: 1em;
	}
	section .section-content.uk-table .uk-table-row {
	    border-bottom: 1px solid #e4e4e4;
	    padding-bottom: 3px !important;
	    padding-top: 19px !important;
	}
    .uk-grid.uk-text-center .uk-td label {
        float: left;
        text-align: left;
        width: 100%;
    }

    #profile-panel .uk-width-large-4-10 .uk-grid {
        margin-left: 0;
    }


}
@media screen and (max-width: 767px) {
    .button-container {
        bottom: -3px;
        position: relative;
        right: auto;
        text-align: right;
        top: auto;
    }
    .button-container-bottom {
        bottom: -15px;
        top: auto;
    }
    .article-right-menu {
        position: absolute;
        right: 2em;
        top: 2em;
    }
}

@media (max-width: 420px) {
    #profile-panel .uk-width-large-4-10 .uk-width-large-1-2{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .button-container.button-container-top{ bottom: -10px; } .article-right-menu, .top-right .uk-button-dropdown a .profile-name { display: none; }
    .top-right .uk-button-dropdown .profile-hide{ display: block; }
.top-right .uk-button-dropdown .uk-dropdown {    position: absolute;}
}

@media screen and (max-width: 380px) {
    [class*="uk-width"]{ width: 100%; }
    .uk-width-smallest-1-2{ width: 50%; }
    .uk-padding-v-normal {
        padding-bottom: 6px;
        padding-top: 6px;
    }
    .uk-padding-v-normal.uk-td {
        margin-top: 10px;
        padding-top: 15px;
    }

.col-2-left-label .col-lbl{ margin-top: 10px;  }
}
@media screen and (max-width: 320px) {
.uk-width-smallest-1-2{ width: 100%; }
}

/* END OF BODY TEMPLATE */

/************************************************************************************************/

#profile .strength_meter {
    margin-top: 80px;
}
#profile .strength_meter div {
    text-transform: uppercase;
    font-size: 12px;
}

#profile-settings .strength_meter {
    margin-top: 80px;
}
#profile-settings .strength_meter div {
    text-transform: uppercase;
    font-size: 12px;
}


